*, *:before  {
	background: deeppink!important;
	color: pink!important;
	font-weight: bold!important;
	border: deeppink;
}


#wpadminbar, #wpadminbar *, #wpadminbar *:before {
	background: MediumVioletRed!important;
}
